* {
    scroll-behavior: smooth;
  }
body {
    background: #f5f6f7;
    font-family: Helvetica;
    margin: 0 60px;

  }
.pick{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }

nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
    width: 150px;
    text-align: center; 
    padding: 10px 0;
  }

nav > ul > li:hover{
    background-color: lightgray;
    color: white;
}

  header {
    width: 100%;
    height: 140px;
    align-items: center;
    top: 0;
  }
hr{
    width: 100%;
    border-color: black;
    
}
.sport{
    font-weight:800 !important;
    letter-spacing: 13px;
    font-size: 44px;
    padding: 50px 0;
    text-align: center;
}
button{
    background-color: black;
    color: white;
    font-weight: 0 !important;
    padding: 6px 12px;
}
.body-balance, .body-pump{
    width: 40%;
}
.body-pump-main{
    padding-top: 80px;
    display: flex;
}
.body-pump{
 text-align: right;

}
.body-balance-main{
    width: 100%;
    height: 820px;
    border: 5px solid red;
   

}
.body-balance{
 border: 5px solid yellow;

}
.text-1{
    padding: 0 30px 30px 0;
    text-align: left;
}
.text-2{
    padding: 40px 0;
}
.text-3{
  text-align: right;
}

h1{
 padding: 0px;
}
h3{
    font-weight: 300;
    text-align: center;
    color: lightgray;
    font-size: 14px;
}
.discount{
    width: 90%;
    text-align: center;
    font-size: 34px;
    font-weight: 0;
    padding: 24px 48px;
    background-color: black;
    color: white;
    letter-spacing: 8px;
}
.image-1-main{
    border: 5px solid green;
    width: 50%;
    height: 800px;

}
.image-1{
    border: 3px solid black;
    width: 100%;
    height: 100%;


}
.image-1-text{
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.image-2{
    border: 3px solid black;
    width: 45%;
    height: 350px;
    float: right;


}
.image-3{
    border: 3px solid black;
    width: 100%;
    height: 600px;

}
